.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 241, 241);
    /* background-image: url('https://wallpaperaccess.com/full/1900851.png'); */
}

.login_accountStatus:hover{
    cursor: pointer;
}

.login_logo{
    flex: 0.3;
}

.login_panel{
    flex: 0.7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white;
}

.login_copyright{
    width: 400px;
    height: 300px;
    margin-top: 50px;
}

.login_copyright p{
    font-size: 15px;
    text-align: justify;
}

.login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    box-shadow: cornflowerblue;
}

.login_form input{
    width: 300px;
    height: 30px;
    margin: 5px;
    border-radius: 99px;
    padding-left: 15px;
    border-color: rgb(163, 163, 245);
}

.login_form button{
    width: 100px;
    height: 35px;
    font-size: 15px;
    font-weight: 1000;
    color: rgb(163, 163, 245);
    background-color:white;
    margin: 10px;
    border: 2px solid rgb(163, 163, 245);
    border-radius: 99px;
}

.login_form button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(163, 163, 245);
}

.login_heading{
    font-weight: 100;
    font-family: 'Proxima Nova', sans-serif;
}